<!doctype html>

<html>
<head>
	<title>Facebook Mutual Friend Map</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
      <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
      <link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.css">
      <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css"/>
      <script src="/js/d3.js" charset="utf-8"></script>
      <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
</head>

<body>
      <div class="container">
      	<h1>Facebook Like Map</h1>
        {{#each mutualfriends}}
          <p>You have {{numfriends}} mutual friends with {{name}}!</p>
        {{/each}}

        <div id="map" style="width: 600px; height: 400px"></div>

        <!--<script src="http://cdn.leafletjs.com/leaflet-0.7/leaflet.js"></script>

    <script>
        var map = L.map('map').setView([-41.2858, 174.78682], 14);
        mapLink = 
            '<a href="http://openstreetmap.org">OpenStreetMap</a>';
        L.tileLayer(
            'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: 'Map data &copy; ' + mapLink,
            maxZoom: 18,
            }).addTo(map);
        var marker = L.marker([{{checkin.check.place.latitude}}, {{checkin.check.place.longitude}}.78219])

            .addTo(map);
        
    </script>-->
    </div>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
</body>
</html>